<table class="table">
  <thead>
    <tr>
      <th scope="col">Delete</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.forEach(function(task){ %>
    <tr class="table-<% if (task.completed) { %>success<% }else {%>danger<%}%>">
      <th scope="row">
        <button
          type="button"
          class="btn btn-danger deleteBtn"
          id="<%= task._id%>"
        >
          Delete
        </button>
      </th>
      <td><%= task.title %></td>
      <td>
        <%if (task.completed) {%>
        <button
          type="button"
          class="btn btn-danger updateBtn"
          id="<%= task._id%>"
        >
          Uncomplete</button
        ><%} else {%>
        <button
          type="button"
          class="btn btn-success updateBtn"
          id="<%= task._id%>"
        >
          Complete
        </button>
        <%}%>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<form method="POST" action="/task">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter title"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>

<script defer>
  $("button.deleteBtn").on("click", (data) => {
    $.ajax({
      url: `/task/${data.target.id}`,
      type: "DELETE",
      success: function (data, textStatus) {
        if (data.redirect) {
          // data.redirect contains the string URL to redirect to
          window.location.href = data.redirect;
        }
      },
    });
  });
  $("button.updateBtn").on("click", (data) => {
    $.ajax({
      url: `/task/${data.target.id}`,
      type: "POST",
      success: function (data, textStatus) {
        if (data.redirect) {
          // data.redirect contains the string URL to redirect to
          window.location.href = data.redirect;
        }
      },
    });
  });
</script>
